<!DOCTYPE html>
<html ng-app="app" ng-controller="appController as app">
  <head>
  	<title>ISTEX API ETAT COLLECTION CSV GENERATOR</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
  <body>
    <div class="card-panel error" ng-show="error">
      {{error}}
    </div>
  	<h1>
      <div class="logo">
        <span class="istexBlue">IST</span><span class="istexGreen">EX</span> <span class="primaryFontColor">SCRAPPER</span>
      </div>
    </h1>
    <form id="reqApi">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">input</i>
          <input id="urlApi" type="url" class="validate" pattern="https?://.+" name="urlApi" ng-model="app.url" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000 } }" />
          <label for="urlApi" data-error="VEUILLEZ ENTRER UNE URL API">Url</label>
        </div>
      </div>
      <br/>
    </form>
    <footer>
      using node <script>document.write(process.versions.node)</script>,
      Chrome <script>document.write(process.versions.chrome)</script>,
      and Electron <script>document.write(process.versions.electron)</script>.
    </footer>
    <script type="text/javascript">
      require('../assets/js/materialize.min.js');
    </script>
    <script type="text/javascript" >
      require('../assets/js/main.js');
    </script>
  </body>
</html>