<!DOCTYPE html>
<html ng-app="app" ng-controller="appController as app">
  <head>
  	<title>ISTEX API ETAT COLLECTION CSV GENERATOR</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
  <body>
    <span class="error" ng-show="error"> {{error}}</span>
  	<h1>
      <div class="logo">
        <span class="istexBlue">IST</span><span class="istexGreen">EX</span> <span class="primaryFontColor">SCRAPPER</span>
      </div>
      <form id="reqApi">
        <input type="url" name="urlApi" ng-model="app.url" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000 } }"/>
        <br/>
        {{app.url}}
      </form>
    </h1>
    using node <script>document.write(process.versions.node)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.
    <script type="text/javascript" >
      require('../assets/js/main.js');
    </script>
  </body>
</html>